# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Jupyter
.ipynb_checkpoints/

.env
constants.py
__pycache__
2-extending-LLMs/persist/
2-extending-LLMs/.chroma/
